<p style="color: green"><%= notice %></p>

<%= render @pre_natal %>

<div>
  <%= link_to "Edit this pre natal", edit_pre_natal_path(@pre_natal) %> |
  <%= link_to "Back to pre natals", pre_natals_path %>

  <%= button_to "Destroy this pre natal", @pre_natal, method: :delete %>
</div>
