<p style="color: green"><%= notice %></p>

<h1>Home page contents</h1>

<div id="home_page_contents">
  <% @home_page_contents.each do |home_page_content| %>
    <h2><%= home_page_content.title %></h2>
    <p><%= home_page_content.subtitle %></p>
    <% if home_page_content.photo.attached? %>
      <%= image_tag home_page_content.photo %>
    <% end %>
    <%= simple_format home_page_content.content %>

    <p>
      <%= link_to "Show this home page content", home_page_content %>
      <%= link_to "Edit", edit_home_page_content_path(home_page_content) %>
    </p>
  <% end %>
</div>

<%= link_to "New home page content", new_home_page_content_path %>
